*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

section {
    max-width: 100%;
    display: flex;
    padding: 20px 0;
    margin: 0 6%;
}
.search_box {
    padding:  10px;
    position: relative;
    margin:  30px 0px 0px 20px;
}


.myinput {
    padding: 10px 30px 8px 40px;
    border: solid .1px rgb(96, 96, 96);
    border-radius: 35px;
    background-color: #fff;
    font-size: 1.2rem;
    outline: none;
}
.search_box i {
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 1;
    color: #585858;
    font-size: 1.2rem;
}
/*-------------------------- */
.container {
    max-width: 100%;
}

header {
    display: flex;
    border-bottom: 1px solid #3d3d3d;
    border-top: 1px solid #3d3d3d;

}

.nav {
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 100%;
    display: flex;
    justify-content: center;

}

.nav a {
    color: #222222;
    padding: 20px 10px;
}


.nav a:hover {
    color: #e02a01;
}

/*----bolg_list頁 視覺主圖1----*/

header ul {
    padding: 10px 0px;
    text-align: center;
}

header li {
    font-size: 24px;
    display: inline;
    color: #000;
    font-weight: bold;
    padding: 0px 10px;
}

.main_img {
    max-width: 100%;
    display: flex;
}

.bg_img {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-web-camp/desktop/index/Hero%20Section2.png);
}

.box {
    max-width: 50%;
    justify-content: center;
    align-self: center;
}

.box img {
    max-width: 100%;
}

.page_title {
    margin: 10px 10%;
    max-width: 80%;
}

.page_title h1 {
    padding: 0;
    margin: 40px 0px;
    font-size: 5em;
    color: blue;
    font-weight: bold;
    justify-content: baseline;
}

.page_title p {
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 0 10px;
}

.page_title {
    padding-left: 10px;
    color: #2600ff;
    font-size: 1.5em;
}



/*----部落格內容頁 header img----*/

.img-info {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    padding: 0px 0px;
    margin: 0px 0px;
}

.img-info ul {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.img-info li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;

}

.img-info p {
    line-height: 1.6rem;
    padding-left: 5px;
    max-width: 70%;
    font-weight: 500;
    color: #4f4f4f;
    font-size: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.img-info .time {
    font-size: 1rem;
    color: #000;
    padding: 10px 0px;
    font-weight: bold;
}

.img-info h1 {
    font-weight: bold;
    text-indent: none;
    font-size: 2rem;
}

a.newtext_btn:link {
    font-size: 16px;
    color: #ffffff;
    border-radius: 50px;
    padding: 5px 15px;
    margin-left: 10px;
    margin-top: 30px;
    background: #2d41a4;
}

.img-info .tag_box {
    text-align: left;
    padding-left: 0px;
    margin-left: 0px;
    font-weight: 500;
    color: #0066ff;
    font-size: 1.5rem;
}

.tag_box a.newtext_btn {
    color: #ffffff;
}

.tag_box a.newtext_btn:hover {
    color: #ffffff;
    background: #7371a7;
}

a.read_btn:link {
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    padding: 4px 15px 6px 15px;
    margin-left: 10px;
    margin-top: 15px;
    color: #454545;
    border: 1px solid #585858;
}

a.read_btn:hover {
    color: #ffffff;
    border: 1px solid #474747;
    background: #5b5b5b;
}

/*-----部落格內容頁-conten-----*/

.bolg_detail {
    background-color: rgb(255, 255, 255);
    width: 35%;
    margin: 0 auto;

}

.bolg_detail img {
    width: 100%;

}

.bolg_detail h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;

}

.bolg_detail h3 {
    color: #0015ff;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 0;

}

.bolg_detail p {
    font-size: 1rem;
    padding: 10px 0;
    line-height: 1.5rem;
    letter-spacing: 1px;

}

.bolg_detail ol {
    padding-left: 20px;
    font-weight: bold;
    line-height: 1.5rem;
    list-style-type: decimal;

}

.bolg_detail ul {
    padding: 10px 0;
    padding-left: 20px;

}

.bolg_detail ul li {
    display: list-item;
    font-weight: 600;
    line-height: 1.3rem;
    padding: 1px 0;
    list-style-type: disc;


}

.bolg_detail .tip {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 30px;
    margin: 20px 0;
    background: #c7c7c7;
    border-radius: 30px;
}

.bolg_detail .next_page_box {
    display: flex;
    width: 100%;
    padding: 60px 30px;
    justify-content: space-between;

}

.next_page_box a {
    font-size: 16px;
    border-radius: 50px;
    padding: 4px 15px 6px 15px;
    margin-left: 10px;
    margin-top: 15px;
    color: #4c4c4c;
    border: 1px solid #585858;

}

.next_page_box a:hover {
    color: #ffffff;
    border: 1px solid #a6a6a6;
    background: #a6a6a6;

}

.bolg_detail h4 {
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0;
}

.bolg_detail .end_text {
    padding-top: 0;
    margin-top: 0;
    padding-left: 20px;

}

.bolg_detail .end_text li {
    padding: 2px 0px;

}

.page_chang {
    height: 90px;
    margin-bottom: 50px;
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;

}

.page_chang .back i {
    padding-right: 10px;
}

.page_chang .next i {
    padding-left: 10px;
}

.page_chang a.next:link,
.page_chang a.back:link {
    font-size: 1.3rem;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-radius: 99em;
    padding: 3px 3px;
    margin-left: 10px;
    margin-top: 30px;
}

.page_chang a.next:hover,
.page_chang a.back:hover {
    font-size: 1.3rem;
    color: #b50097;
    text-decoration: none;
    border-radius: 99em;
    padding:3px 3px;
    margin-left: 10px;
    margin-top: 30px;

}


.page_chang a {
    font: 1.2em;
    font-weight: bold;
    padding: 5px;
    margin: 4px;
    color: #2c2c2c;
    padding-bottom: 10px;
    padding-top: 8px;
}

.page_chang a:hover {
    color: #851e74;
    padding-bottom: 10px;
    padding-top: 8px;
}

/*---部落格LIST頁---*/

.m_t_0 {
    margin-top: 0%;
}

.bolg i {
    font-size: 3rem;
}
.bolg_conten{ width: 80%;
    margin: 0 auto;}
.bolg_list {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
}

.bolg_card {
    max-width: 29%;
    height: auto;
    flex-direction: column;
    background-color: #f4f4f4;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    margin: 20px;
    border: 1px;
    border-radius: 10px;
}

.bolg_card p {
    width: 100%;
    color: #666;
    line-height: 1.5rem;
    margin-top: 0px;
    padding-top: 0px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}

.bolg_card h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1e1e1e;
    margin: 8px 0;
    padding: 0px;
    line-height: 30px;
}

.icon_l_r a {
    padding: 0 10px;
}

.time {
    color: #2e2e2e;
    font-weight: bold;
    font: 1em;
    width: 80%;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    margin-bottom: 0px;
}

.pupolar {
    font-size: 12px;
    color: #ffffff;
    font: 0.8em sans-serif;
    text-decoration: none;
    background: #625ba6;
    font-weight: 500;
    margin-left: 10px;
    padding: 4px;
    text-decoration: none;

}
.bolg_card>li {
    padding: 5px 10px;
    margin: 0px;
}


.bolg_card a.btn:link {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border-radius: 50px;
    padding: 4px 15px 6px 15px;
    margin-left: 10px;
    margin-top: 15px;
    color: #8a48a2;
    border: 1px solid #8a48a2;
}

.bolg_card a.btn:hover {
    color: #ffffff;
    border: 1px solid #4b2a7c;
    background: #4b2a7c;
}


.bolg_card img {
    width: 100%;
    border-radius: 10px;
}

a.tag:link {
    color: #6a86b9;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0px;
    text-decoration: none;
}

a.tag:hover {
    color: #dfbb5a;
    text-decoration: none;
}

.u_line {
    border-bottom: 1px #3521e6 solid;
    padding-bottom: 0px;
}

/*-----頁尾-----*/
.footer {
    padding-top: 20px;
    border-top: 1px solid #000;
    max-width: 100%;
    margin: 0 auto;
}

.footer_info {
    margin: 0 auto;
    width: 80%;
    padding-top: 60px;
    padding-bottom: 60px;
    color: #000;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}

.footer_info a {
    color: #000;
    text-decoration: none;
}

.footer_info li a {
    color: #2600ff;
}

.footer ul {
    display: flex;
}

.footer li {
    padding: 0px 10px;
}

.cpoyright {
    padding: 40px 20px;
    text-align: center;
    font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {

    /* 平板直立樣式 */
    header {
        flex-direction: column;
    }

    .img-info {
        max-width: 100%;
        display: flex;
        padding-bottom: 60px;

    }

    .img-info p {
        line-height: 1.6rem;
        padding-left: 5px;
        max-width: 100%;
    }

    .tag_box span {

        font-size: 1rem;
    }
    .bolg_conten {
        width: 100%;
    }

    .bolg_list {
        align-items: center;

    }

    .bolg_card {
        max-width: 45%;
    }

    .bolg_detail {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {

    /* 手機樣式 */
    header {
        flex-direction: column;
    }

    .img-info img {
        max-width: 100%;
    }

    .main_img {
        max-width: 100%;
        flex-direction: column;
    }

    .page_title {
        margin: 10px 10%;
        max-width: 100%;
        padding-bottom: 40px;
        padding-top: 0px;
    }

    .page_title h1 {
        padding: 0px 0;
        margin: 20px 0px;
        font-size: 5rem;
    }

    .page_title p {
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 1.7rem;
        padding: 0 10px;
    }
.box {
    max-width: 100%;
}

.page_chang {
    height: 50px;
    margin-bottom: 20px;
}

.page_chang a.next:link,
.page_chang a.back:link {
    font-size: 1rem;
}

    .pupolar, .newtext_btn {
        display: none;
    }

    .m_t_0 {
        margin-top: 20%;
    }

    .bolg_conten {
        width: 100%;
    }

    .bolg_list {

        flex-direction: column;
        align-items: center;

    }

    .bolg_card {
        max-width: 100%;
    }

    .icon_l_r {
        margin: 0 auto;
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        position: relative;
        bottom: 0;
    }

    .img-info {
        max-width: 100%;
        display: flex;
        padding: 0px 0px 30px 0px;

    }


    .bolg_detail {
        width: 90%;
    }

    .footer_info {
        display: none;
    }

    .cpoyright {
        padding: 20px 10px;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
    }
    .myinput {
    max-width:100% ;
    padding: 10px 30px 8px 40px;
    border: solid .1px rgb(96, 96, 96);
    border-radius: 35px;
    background-color: #fff;
    font-size: 1.2rem;
    outline: none;


}